<section >
  <h3>Autocomplete search using rxjs Operators</h3>
  <p> This route is enabled with canDeactivate route gaurd. If search dropdown is open then it will ask for user 
    confirmation before leaving the route</p>
  <div class="form-group" [style.position]="'relative'">
      <input class="form-control" placeholder="Search Organizations" [formControl]="searchOrg" >
      <div class="results" *ngIf="showresults && searchOrg.dirty"> 
        <ul *ngIf="loading==false&&searchResults.length!==0">
          <li *ngFor="let search of searchResults" class="list-item" (click)="selectOrg(search)"> {{ search }}</li>
        </ul>
        <span *ngIf="loading" >Loading...</span>
        <span *ngIf="!loading&&searchResults.length==0" >No Details Found!!</span>
      </div>
  </div>
  <pre>
    <code>
    {{ forDisplay }}
    </code>
  </pre>
</section>