.results{
    position: absolute;
    z-index: 5;
    top: 40px;
    border:1px solid #ececec;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    max-height: 12.5em;
    overflow-y: auto;
}
ul {
    padding: 0.5em 1em 0.5em 1em;
}
.list-item {
    cursor: pointer;
    list-style: none;
    line-height: 2em;
    padding-left: 0.5em;
}
.list-item:hover {
    background-color: #ececec;
    color: #0696c1
}