<section class="side-nav">
  <a   class="sidebar-item" routerLink="/overview" routerLinkActive="sidebar-item__active">Overview</a>
  <a   class="sidebar-item" routerLink="/reactiveform" routerLinkActive="sidebar-item__active">Reactive form</a>
  <a   class="sidebar-item" routerLink="/rxjsSearch" routerLinkActive="sidebar-item__active">rxjs Search</a>
  <a  class="sidebar-item" routerLink="/customTwoWayBinding" routerLinkActive="sidebar-item__active">Custom two way binding</a>
   <a  class="sidebar-item" routerLink="/dependencyInjection" routerLinkActive="sidebar-item__active">Dependency Injection</a>
   <a  class="sidebar-item" routerLink="/nestedRoutes" routerLinkActive="sidebar-item__active">Nested Routes</a>
</section>
