.sidebar-item {
    display: block;
    line-height: 2em;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 0.2em 0 0.5em;
    word-break: break-all;
}
.sidebar-item:hover{
    background-color: #dbdbdb;
}

.sidebar-item__active{
    color: #1b95e0;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #1b95e0;
}